{% extends 'layout.html' %}

{% block body %}

    <h2 style="margin-bottom: 10%; margin-top: 10%;">
        Thank you for trying out the Ace Alpha! Keep an eye out - an Ace feedback report will be sent to you within 1-2 days!
    </h2>
  <!--  <a href="link">Ace Facebook</a>
    <a href="">Ace LinkedIn</a>
    <a href="">Back to Ace Site</a>
    <a href="">The Ace Blog!</a> -->
    
    <ul class="list-unstyled">
        <a href="https://aceinterviewprep.ca/">
            <li class="media">
                <img src="/static/images/ace-blue.png" class="mr-3" alt="..." style="width: 100px;">
                <div class="media-body">
                  <h5 class="mt-0 mb-1">Back to Ace Site</h5>
                </div>
              </li>
        </a>
        <a href="https://www.facebook.com/pathwayshire/">
            <li class="media my-4">
                <img src="/static/images/facebook.png" class="mr-3" alt="..." style="width: 100px;">
                <div class="media-body">
                  <h5 class="mt-0 mb-1">Like us on Facebook</h5>
                </div>
              </li>
        </a>
        <a href="https://www.linkedin.com/company/acetheinterview/">
            <li class="media">
                <img src="/static/images/linkedin.png" class="mr-3" alt="..." style="width: 100px;">
                <div class="media-body">
                  <h5 class="mt-0 mb-1">Follow us on LinkedIn</h5>
                </div>
              </li>
        </a>
      </ul>

      <!--Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
      -->
{% endblock %}